<% include ../partials/header %> 
<link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/index.css">
 <div class="container">
     <h3>Job Feed</h3>
     
     <div class="jumbotron">
         <h2>Browse 1000's of off-duty listings. . . </h2>
         <input placeholder="search listings"class="search">
     </div>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-12 col-sm-12">
                <div class="thumbnail">
                   <div class="caption">
                       <h3><%= campground.title %></h3>
                       <h4><%= campground.location %></h4>
                        <h4><%= campground.rate %></h4>

                   </div>
                   <div class="caption">
                       <h4><%= campground.description.substring(0,50) %>...</h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
